@media (max-width:1435px){
    .middleAbout{
        width:50%;
        padding-left: 2%;
    }
}
@media (max-width:1210px){
    .projectContainer{
        width:82%;
    }
}
@media (max-width:1125px){
    .middleAbout{
        width:55%;
    }
    .projectsRight img{
        width:85%;
        position:relative;
        right:-26px;
    }
}
@media (max-width:1045px){
    .middleHeader img{
        margin-left: 100px;
        margin-top: 0;
        width:79%;
    }
    .rightAbout img{
        top: 223px;
        width:22%;
    }
    .rightAbout{
        justify-content: initial;
        margin-left: 0;
    }
    .middleAbout h3{
        margin-bottom: 0;
    }
    .middleHeader h1{
        margin-bottom: 10%;
    }
    .middleAbout img{
        height:50%;
        width:50%;
    }
    .projectContainer{
        width:95%;
        margin-left: 2%;
    }
    .leftAbout, .projectsLeft{
        width:32%;
    }
    .leftHeader{
        width:36%;
    }
    .leftContact{
        width:23%;
    }
    .projectsRight img{
        width:83%;
    }
}
@media (max-width:920px){
    .rightHeader h3{
        margin-right:7%;
    }
    .middleContact img{
        width:25%;
    }
}
@media (max-width:890px){
    header, section{
        flex-direction: column;
    }
    .leftHeader, .leftAbout, .leftContact, .projectsLeft{
        width:100%;
        height:25vh;
        flex-direction: row;
        justify-content: space-around;
    }
    .leftHeader nav, .leftAbout nav, .leftContact nav, .projectsLeft nav{
        flex-direction: row;
    }
    .about{
        height:auto;
    }
    .middleHeader{
        left:0;
        top:0;
    }
    .middleHeader img{
        display: none;
    }
    .middleHeader h1{
        text-align: center;
        margin-bottom: 0;
        margin-top: 2%;
    }
    .rightHeader{
        height:41vh;
        margin-top: 100px;
    }
    .rightHeader h3{
        margin:0;
    }
    .rightHeader button{
        width:40%;
    }
    .rightHeader img{
        position: absolute;
        right: 0;
        top: 196px;
        width:19%
    
    }
    .middleAbout img{
        width:29%;
    }
    .middleAbout{
        width:80%;
    }
    .rightAbout{
        background: darkgray;
        padding-left: 2%;
    }
    .projectsRight img{
        display: none;
    }
    .middleContact img{
        bottom: -16%;
        right: 8%;
    }
    .contactIcons{
        align-self: initial;
    }
}
@media(max-width:780px){
    .leftHeader, .leftAbout, .leftContact, .projectsLeft{
        justify-content:space-evenly ;
    }
    .rightHeader img, .rightAbout img, .middleContact img{
        display: none;
    }
}
@media(max-width:715px){
    .middleContact img{
        display: none;
    }
    .leftHeader img, .leftAbout img, .leftContact img, .projectsLeft img{
        height:110px;
        width:110px;
        margin-right: 2%;
    }
    .leftHeader, .leftAbout, .leftContact, .projectsLeft{
        justify-content: left;
    }
}
@media(max-width:685px){
    .projectContainer{
        justify-content: space-evenly;
    }
}
@media(max-width:620px){
    .projectContainer{
        flex-direction: column;
    }
    .projectInfo{
        width:100%;
    }
    p{
        font-size: 16px;
    }
    .leftHeader, .leftAbout, .leftContact, .projectsLeft{
        height: 75vh;
        flex-direction: column;
        text-align: center;
    }
    .leftHeader nav, .leftAbout nav, .leftContact nav, .projectsLeft nav{
        flex-direction: column;
    }

}
@media(max-width:545px){
    .middleAbout{
        width:95%;
    }
    .about{
        text-align: center;
    }
}
@media(max-width:465px){
    h1{
        font-size: 4rem;
    }
    .name, .email{
        width:100%;
        margin-left: 0;
    }
}