@mixin font{
    font-family: 'Montserrat';
    color:lightgray;
}
@mixin formSettings{
    padding:2% 0 2% 1%;
    border-radius: 5px;
    border:2px black solid;
    background-color: lightgray;
}
@mixin desktopNav{
    background:black;
    display:flex;
    flex-direction: column;
    height:100vh;
    justify-content: space-between;
}