.projects{
    display: flex;
    background: darkgray;
}
.projectsLeft{
    @include desktopNav;
    width:26%;
}
.projectContainer{
    display: flex;
    flex-wrap: wrap;
    background: darkgray;
    justify-content: space-between;
    width:70%;
    margin-left: 12%;
}
.projectInfo{
    width:40%;
    text-align: center;
}
.projectInfo a:hover,.projectInfo a:focus{
    opacity: 50%;
}